/* Custom font declarations */
@font-face {
    font-family: 'PT Sans';
    src: url('/fonts/PTSans.ttc') format('truetype-collection');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trade Gothic';
    src: url('/fonts/trade-gothic/Trade Gothic LT Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Source Serif Pro';
    src: url('/fonts/source-serif-pro/SourceSerifPro-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
    color: 1E3765;
}

h4 {
    margin: 0;
    padding: 0;
}

:root {
    --map-width: calc(100% - 380px);
}

#map {
    position: relative;
    width: var(--map-width);
    height: 100dvh;
    height: 100vh;
    /* background: #fffef7; */
    background: rgb(255, 255, 255);
    overflow-y: none;
    margin-left: auto;
}

#map .maplibregl-canvas {
    filter: saturate(0.3) invert(0) brightness(1.02) contrast(1);
    opacity: .5;
    /* transition: opacity 0.2s ease, filter 0.2s ease; */
}

#map.invert-basemap .maplibregl-canvas {
    filter: saturate(0) invert(1) brightness(1) contrast(1);
    opacity: .9;
    background: rgb(255, 255, 255);

}

.invert-btn {
    position: absolute;
    top: 145px;
    right: 8px;
    width: 33px;
    height: 33px;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(204, 204, 204, 0.7);
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.threed-btn {
    position: absolute;
    top: 185px;
    right: 8px;
    width: 33px;
    height: 33px;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(204, 204, 204, 0.7);
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#map.hide-canvas .maplibregl-canvas {
    opacity: 0;
}

#map.invert-basemap.hide-canvas {
    background-color: rgb(35, 35, 35);
    transition: opacity 0.2s ease, filter 0.2s ease;

}

.loading-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--map-width);
    height: 100dvh;
    height: 100vh;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard {
    position: absolute;
    width: 380px;
    height: 100dvh;
    height: 100vh;
    background: rgba(245, 245, 245, 1);
    /* background: white; */
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
    overflow-x: clip;
    z-index: 1000;

}

.content {
    flex: 1;
    overflow-y: auto;
    padding-top: 15px;

}

.title-block {
    /* flex-shrink: 0; */
    /* display: flex; */
    /* align-items: center; */
    width: 450px;
    height: 80px;
    padding-left: 20px;
    border-bottom: 1px solid #000;
}

.title-content {
    /* flex-shrink: 0; */
    /* display: flex;
    align-items: center; */
    /* width: 450px; */
    height: 80px;
}

.title-content {
    display: flex;
    align-items: center;
}

.title-content h2 {
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 5px;
}

.title-block h2 {
    font-size: 20px;
    font-weight: normal;
    padding-left: 20px;
    color: #333;
}

.title-block p {
    width: 50px;
    min-width: 120px;
    font-size: 12px;
    margin: 0;
    padding-left: 30px;
    color: #666;
    justify-content: left;
}

.legend-space {
    height: 180px;
}

.logo-mobile {
    display: none;
}

.info-block {
    padding: 0 20px;
    font-size: 14px;
    color: #333;
    font-family: 'Source Serif Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    border-top: 1px solid #000;
    overflow-y: auto;
}

.buttons {
    display: relative;
    width: 100%;
    margin-top: 8px;
}

.field-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
}

.field-buttons button {
    width: 100%;
    background: #fff;
    color: black;
    cursor: pointer;
    border: 1px solid #ccc;
    font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    margin: 0;
}

.field-buttons button.active {
    background: #333;
    color: white;
}

.field-selector {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    color: #333;
}


.field-selector h4 {
    margin-top: 20px;
}


.point-size-control {
    padding: 0 20px;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    border-top: 1px solid #000;
    padding: 5px 15px;
    color: #666;
    opacity: 0.8;
    /* text-align: center; */
}

.credit {
    font-size: 9pt;
    opacity: 0.8;
    /* margin: 0;
    padding: 0 0 5px 5px; */
}

/* .footer-mobile {
    display: none;
} */

@media (max-width: 760px) {
    :root {
        --map-width: 100%;
        --map-height: 60dvh;
        --map-height: 60vh;
        --map-top: 40dvh;
        --map-top: 40vh;
    }

    #map {
        width: var(--map-width);
        height: var(--map-height);
        position: absolute;
        top: var(--map-top);

    }

    .loading-overlay {
        position: fixed;
        top: var(--map-top);
        right: 0;
        width: var(--map-width);
        height: var(--map-height);
        z-index: 2000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title-block {
        height: 60px;
        position: static;
        width: 100%;
        max-width: 100dvw;
        max-width: 100vw;
    }

    .title-content {
        height: 60px;
        transform: scale(0.8);
        transform-origin: left;
        width: 100%;
        max-width: 100dvw;
    }

    .legend-space {
        height: 180px;
    }

    .logo-mobile {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px;
        /* clip-path: inset(0 0 0 50%);
        overflow: hidden; */
    }

    #dashboard {
        display: flex;
        width: 100%;
        width: 100dvw;
        max-width: 100dvw;
        height: 40dvh;
        height: 40vh;
        overflow-y: auto;
        border-bottom: 1px solid #000;
        border-right: none;
    }

    .footer {
        display: none;
    }

    .footer-mobile {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100dvw;
        width: 100vw;
        /* background: #fffef7; */
        border-top: 1px solid #000;
        height: 30px;
        font-size: 0.7em;
    }

    .footer-mobile p {
        padding-left: 10px;
    }

    p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {

    .logo-mobile {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        clip-path: inset(0 0 0 80%);
        overflow: hidden;
    }

}